<div class="row">
	<div class="col-md-12">
		<table datatable [dtOptions]="dtOptions" class="table" data-page-length="20" #list>
			<thead>
			<tr>
        <th>Nazwisko</th>
        <th>Imię</th>
        <th>Tytuł</th>
        <th>Stopień</th>
        <th>Email</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let pracownik of pracownicyList"
          (click)="onActivate(pracownik)"
          appHighlight="whitesmoke">
        <td>{{pracownik.nazwisko}}</td>
        <td>{{pracownik.imie}}</td>
        <td>{{pracownik.tytul}}</td>
        <td>{{pracownik.stopien}}</td>
				<td>{{pracownik.email}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
