<div class="row">
  <div class="col-md-6">
    <table datatable="ng" [dtOptions]="dtOptions" class="table" data-page-length="20" #list>
      <thead>
      <tr>
        <th>Nazwisko</th>
        <th>Imię</th>
        <th>Tytuł</th>
        <th>Stopień</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pracownik of this.pracownicyList"
          (click)="onActivate(pracownik)"
          appHighlight="whitesmoke">
        <td>{{pracownik.nazwisko}}</td>
        <td>{{pracownik.imie}}</td>
        <td>{{pracownik.tytul}}</td>
        <td *ngIf="pracownik.stopien !== ''; else notApplicable">{{pracownik.stopien}}</td>
        <ng-template #notApplicable>
          <td>nd.</td>
        </ng-template>
        <td>{{pracownik.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
