<script src="../../../pracownicy/pracownicy-list/pracownicy-item-edit/pracownicy-item-edit.component.ts"></script>
<script src="../../publikacja.model.ts"></script>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-left">
      <button class="btn btn-default" (click)="onAddNew()">
        <strong>
          <i class="fa fa-plus"></i> Nowa publikacja
        </strong>
      </button>
    </div>
    <div class="btn-group pull-right">
      <button class="btn btn-primary" (click)="onEdit()">
        <strong>
          <i class="fa fa-pencil"></i> Edytuj
        </strong>
      </button>
      <button class="btn btn-danger" (click)="onDelete()">
        <strong>
          <i class="fa fa-trash"></i> Usuń
        </strong>
      </button>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-md-12">
     <table class="table table-condensed table-responsive table-user-information">
      <tbody>
      <tr>
        <td>
          <strong>
            <i class="fa fa-file-text fa-fw"></i>
            Tytuł Publikacji
          </strong>
        </td>
        <td>
          <div class="text-primary">{{publikacja.tytulPublikacji}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-file-text-o fa-fw"></i>
            Tytuł Czasopisma
          </strong>
        </td>
        <td>
          <div class="text-primary">{{publikacja.tytulCzasopisma}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-fw"></i>
          Wolumin
        </td>
        <td>
          <div class="text-primary">{{publikacja.wolumin}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-fw"></i>
          Wydanie
        </td>
        <td>
          <div class="text-primary">{{publikacja.wydanie}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-fw"></i>
          Strony
        </td>
        <td>
          <div class="text-primary">{{publikacja.strony}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-fw"></i>
          Rok Publikacji
        </td>
        <td>
          <div class="text-primary">{{publikacja.rokPublikacji}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-tag fa-fw"></i>
            DOI
          </strong>
        </td>
        <td>
          <div class="text-primary">{{publikacja.doi}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-trophy fa-fw"></i>
            Punkty
          </strong>
        </td>
        <td>
          <div class="text-primary">{{publikacja.punkty}}</div>
        </td>
      </tr>
      <tr>
        <td class="name">
          <strong>
            <i class="fa fa-users fa-fw"></i>
            Autorzy wewnętrzni
          </strong>
        </td>
        <td class="content">
          <div *ngFor="let autor of this.autorzyWewnetrzni" class="text-primary">
            {{autor.nazwisko + " " + autor.imie}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-handshake-o fa-fw"></i>
            Autorzy zewnętrzni
          </strong>
        </td>
        <td>
          <div *ngFor="let autor of publikacja.autorzyZewnetrzni" class="text-primary">
            {{autor}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
