<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-left">
      <button class="btn btn-default" (click)="onAddNew()">
        <strong>
          <i class="fa fa-plus"></i> Nowe minimum kadrowe
        </strong>
      </button>
    </div>

    <div class="btn-group pull-right" style="margin-left: 20px">
      <button class="btn btn-primary" (click)="onEdit()">
        <strong>
          <i class="fa fa-pencil"></i> Edytuj
        </strong>
      </button>
      <button class="btn btn-danger" (click)="onDelete()">
        <strong>
          <i class="fa fa-trash"></i> Usuń
        </strong>
      </button>
    </div>

    <div class="btn-group pull-right">
      <button class="btn btn-default" (click)="onPrint()">
        <strong>
          <i class="fa fa-print"></i> Drukuj
        </strong>
      </button>
      <button class="btn btn-default" (click)="onDownload()">
        <strong>
          <i class="fa fa-download"></i> Pobierz
        </strong>
      </button>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-md-12">
    <table class="table table-condensed table-responsive table-userinformation">
      <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 70%;">
      </colgroup>
      <tbody>
      <tr>
        <td>
          <strong>
            Kierunek studiów
          </strong>
        </td>
        <td>
          <div class="text-primary">{{minimumKadrowe.kierunek}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            Stopien studiów
          </strong>
        </td>
        <td>
          <div class="text-primary">{{minimumKadrowe.stopien}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            Rok Akademicki
          </strong>
        </td>
        <td>
          <div class="text-primary">{{minimumKadrowe.rokAkademicki}}</div>
        </td>
      </tr>
      <tr>
        <td *ngIf="minimumKadrowe.stopien==='pierwszy'; else drugiStopien">
          <strong>
            Samodzielni pracownicy nauki ({{minimumKadrowe.doktorzyHabilitowani.length}} z 3)
          </strong>
        </td>
        <ng-template #drugiStopien>
          <td>
            <strong>
              Samodzielni pracownicy nauki ({{minimumKadrowe.doktorzyHabilitowani.length}} z 6)
            </strong>
          </td>
        </ng-template>
        <td>
          <div *ngIf="minimumKadrowe.doktorzyHabilitowani.length > 0; then than_component_DH else else_component_DH">          </div>
          <ng-template #than_component_DH>
            <div *ngFor="let doktorHabilitowany of doktorzyHabilitowani; let i = index" class="text-primary">
              <strong>{{i+1}}</strong> - {{doktorHabilitowany.stopien}} {{doktorHabilitowany.tytul}} {{doktorHabilitowany.imie}} {{doktorHabilitowany.nazwisko}}
            </div>
          </ng-template>
          <ng-template #else_component_DH>
            <div class="text-primary">
              brak
            </div>
          </ng-template>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            Doktorzy ({{minimumKadrowe.doktorzy.length}} z 6)
          </strong>
        </td>
        <td>
          <div *ngIf="minimumKadrowe.doktorzy.length > 0; then than_component_D else else_component_D">
          </div>
          <ng-template #than_component_D>
            <div *ngFor="let doktor of doktorzy; let i = index" class="text-primary">
              <strong>{{i+1}}</strong> - {{doktor.stopien}} {{doktor.tytul}} {{doktor.imie}} {{doktor.nazwisko}}
            </div>
          </ng-template>
          <ng-template #else_component_D>
            <div class="text-primary">
              brak
            </div>
          </ng-template>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            Spełnione
          </strong>
        </td>
        <td>
          <div *ngIf="minimumKadrowe.poprawne; else else_component">
            Tak
          </div>
          <ng-template #else_component>
            Nie
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
