<div class="row">
  <div class="col-lg-6">
    <table datatable="ng" [dtOptions]="dtOptions" class="table" data-page-length="20" #list>
      <thead>
      <tr>
        <th>Rodzaj Publikacji</th>
        <th>Tytuł</th>
        <th>Rok</th>
        <th>Autorzy Wewnetrzni</th>
        <th>Autorzy Zewnetrzni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let publikacja of publikacjeList"
          (click)="onActivate(publikacja)"
          appHighlight="whitesmoke">
        <td style="width: 20%" *ngIf="publikacja.rodzajPublikacji === 'MG'">Monografia</td>
        <td style="width: 20%" *ngIf="publikacja.rodzajPublikacji === 'MGR'">Rozdział</td>
        <td style="width: 20%" *ngIf="publikacja.rodzajPublikacji === 'ATK'">Artykuł</td>
        <td style="width: 65%">{{publikacja.tytulPublikacji}}</td>
        <td style="width: 15%">{{publikacja.rokPublikacji}}</td>
        <td>{{getAutorzyNamesById(publikacja.autorzyWewnetrzniId)}}</td>
        <td>{{publikacja.autorzyZewnetrzni}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <router-outlet></router-outlet>
  </div>
</div>
