/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "WATstyle";
  src: url("assets/WATstyle/WATstyle-Regular.ttf");
}

@font-face {
  font-family: "WATstyle";
  src: url("assets/WATstyle/WATstyle-Bold.ttf");
  font-weight: bold;
}
