<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="/" class="navbar-brand logo">KADRY</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active">
          <a routerLink="/pracownicy">
            <i class="fa fa-users fa-fw"></i>
            Pracownicy
          </a>
        </li>
				<li routerLinkActive="active">
          <a routerLink="/publikacje">
            <i class="fa fa-book fa-fw"></i>
            Publikacje
          </a>
        </li>
				<li routerLinkActive="active">
          <a routerLink="/minimum-kadrowe">
            <i class="fa fa-file fa-fw"></i>
            Minimum kadrowe
          </a>
        </li>

        <li routerLinkActive="active">
          <a style="cursor: pointer;" (click)="refreshData()">
            <i class="fa fa-refresh fa-fw"></i>
            Odświerz dane
          </a>
        </li>
			</ul>

			<ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn(); else else_component">
				<li>
          <a routerLink="/logowanie">
            <i class="fa fa-sign-in fa-fw"></i>
          Zaloguj
          </a>
        </li>
			</ul>
      <ng-template #else_component>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href routerLink="" (click)="onLogOut()">
              <i class="fa fa-sign-out fa-fw"></i>
              Wyloguj
            </a>
          </li>
        </ul>
      </ng-template>
      <ul class="nav navbar-nav navbar-right" *ngIf="adminHeader">
        <li>
          <a routerLink="/nowy">
            <i class="fa fa-user-plus fa-fw"></i>
            Dodaj Użytkownika
          </a>
        </li>
      </ul>
		</div>
	</div>
</nav>
