<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="/" class="navbar-brand">KADRY</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a routerLink="/pracownicy">Pracownicy</a></li>
				<li routerLinkActive="active"><a routerLink="/publikacje">Publikacje</a></li>
				<li routerLinkActive="active"><a routerLink="/minimum-kadrowe">Minimum kadrowe</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Zaloguj</a></li>
			</ul>
		</div>
	</div>
</nav>
