<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default" (click)="onAddNewArtykul()">
      <strong>
        <i class="fa fa-plus"></i> Artykuł
      </strong>
    </button>
    <button class="btn btn-default" (click)="onAddNewMonografia()">
      <strong>
        <i class="fa fa-plus"></i> Monografia
      </strong>
    </button>
    <button class="btn btn-default" (click)="onAddNewRozdzial()">
      <strong>
        <i class="fa fa-plus"></i> Rozdział
      </strong>
    </button>
  </div>
</div>
