<div class="panel-body inf-content">
	<div class="row">
		<div class="col-md-12">
			<strong>kpt dr inż. Adam Abacki</strong>
			<table class="table table-condensed table-responsive table-user-information">
				<tbody>
				<tr>
					<td class="name">
						<strong>
							<span class="glyphicon glyphicon-user text-primary"></span>
							Imię
						</strong>
					</td>
					<td class="content">
						<div class="text-primary">{{this.pracownik.imie}}</div>
					</td>
				</tr>
				<tr>
					<td>
						<strong>
							<span class="glyphicon glyphicon-asterisk text-primary"></span>
							Nazwisko
						</strong>
					</td>
					<td>
						<div class="text-primary">{{this.pracownik.nazwisko}}</div>
					</td>
				</tr>
				<tr>
					<td>
						<strong>
							<span class="glyphicon glyphicon-star text-primary"></span>
							Stopień Wojskowy
						</strong>
					</td>
					<td>
						<div class="text-primary">{{this.pracownik.stopien}}</div>
					</td>
				</tr>
				<tr>
					<td>
						<strong>
							<span class="glyphicon glyphicon-book text-primary"></span>
							Tytuł
						</strong>
					</td>
					<td>
						<div class="text-primary">{{this.pracownik.tytul}}</div>
					</td>
				</tr>
				<tr>
					<td>
						<strong>
							<span class="glyphicon glyphicon-cog text-primary"></span>
							Specjalność
						</strong>
					</td>
					<td>
						<div class="text-primary">{{this.pracownik.specjalnosc}}</div>
					</td>
				</tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-envelope text-primary"></span>
              Email
            </strong>
          </td>
          <td>
            <div class="text-primary">{{this.pracownik.email}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-envelope text-primary"></span>
              Funkcje
            </strong>
          </td>
          <td>
            <div *ngIf="this.pracownik.funkcje; else else_component">
              <div *ngFor="let funkcja of this.pracownik.funkcje; let i = index"
                   class="text-primary"><strong>{{i+1}}</strong> - {{funkcja}}</div>
            </div>
            <ng-template #else_component>
              <div class="text-primary">brak</div>
            </ng-template>
            </td>
        </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

 <!-- - imie-->
 <!-- - nazwisko-->
 <!-- - stopień wojskowy-->
 <!-- - tytuł-->
 <!-- - specjalność-->
 <!-- - informacja do jakich minimów kadrowych jest wykorzystywany-->
