<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="pracownikForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary" (submit)="onSubmit()" [disabled]="this.pracownikForm.invalid">Zapisz</button>
            <button type="button" class="btn btn-default" (click)="onCancel()">Anuluj</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" *ngIf="this.editMode; else addingNewEmployee">
          <p [ngStyle]="{'font-size': '30px'}">
            <strong>{{this.tempPracownik.stopien}} {{this.tempPracownik.tytul}} {{this.tempPracownik.imie}} {{this.tempPracownik.nazwisko}}</strong>
          </p>
        </div>
        <ng-template #addingNewEmployee>
          <div class="col-xs-12">
            <p [ngStyle]="{'font-size': '30px'}">
              <strong>Nowy pracownik</strong>
            </p>
          </div>
        </ng-template>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <label for="nazwisko" class="col-xs-4"><span class="glyphicon glyphicon-asterisk text-primary"></span> Nazwisko</label>
              <div class="form-group col-xs-8">
                <input type="text"
                       id="nazwisko"
                       class="form-control"
                       formControlName="nazwisko">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="imie" class="col-xs-4"><span class="glyphicon glyphicon-user text-primary"></span> Imie</label>
              <div class="form-group col-xs-8">
                <input type="text"
                       id="imie"
                       class="form-control"
                       formControlName="imie">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="tytul" class="col-xs-4"><span class="glyphicon glyphicon-book text-primary"></span> Tytuł</label>
              <div class="form-group col-xs-8">
                <select id="tytul" class="form-control" formControlName="tytul">
                  <option *ngFor="let tytul of this.pracownicyService.tytuly" [value]="tytul.skrot">
                    {{tytul.skrot}}
                  </option>
                </select>
                <!--<input type="text"-->
                       <!--id="tytul"-->
                       <!--class="form-control"-->
                       <!--formControlName="tytul">-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="stopien" class="col-xs-4"><span class="glyphicon glyphicon-star text-primary"></span> Stopień Wojskowy</label>
              <div class="form-group col-xs-8">
                <select id="stopien" class="form-control" formControlName="stopien">
                  <option *ngFor="let stopien of this.pracownicyService.stopnieWojskowe" [value]="stopien.skrot">
                    {{stopien.nazwa}}
                  </option>
                </select>
                <!--<input type="text"-->
                <!--id="stopien"-->
                <!--class="form-control"-->
                <!--formControlName="stopien">-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="email" class="col-xs-4"><span class="glyphicon glyphicon-envelope text-primary"></span> Email</label>
              <div class="form-group col-xs-8">
                <input type="text"
                       id="email"
                       class="form-control"
                       formControlName="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="specjalnosc" class="col-xs-4"><span class="glyphicon glyphicon-cog text-primary"></span> Specjalność</label>
              <div class="form-group col-xs-8">
                <input type="text"
                       id="specjalnosc"
                       class="form-control"
                       formControlName="specjalnosc">
              </div>
            </div>
          </div>
          <div class="inf-content panel-body">
            <div class="row">
              <div class="col-xs-12" formArrayName="funkcje">
                <div class="row">
                  <div class="col-xs-4">
                    <p><span class="glyphicon glyphicon-th-list text-primary"></span><strong> Funkcje</strong></p>
                  </div>
                </div>
                <div class="row"
                     *ngFor="let funkcjeControl of pracownikForm.get('funkcje').controls; let i = index"
                     [formGroupName]="i"
                     style="margin-bottom: 10px">
                  <div class="col-xs-10">
                    <input type="text" class="form-control" formControlName="funkcja">
                  </div>
                  <div class="col-xs-2">
                    <button type="button" class="btn btn-danger" (click)="onDeleteFunction(i)">Usuń</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary" (click)="onAddFunction()">Nowa Funkcja</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
