<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="pracownikForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary" (submit)="onSubmit()" [disabled]="this.pracownikForm.invalid">
              <i class="fa fa-floppy-o"></i> Zapisz
            </button>
            <button type="button" class="btn btn-default" (click)="onCancel()">
              <i class="fa fa-times"></i> Anuluj
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" *ngIf="this.editMode; else addingNewEmployee" [ngStyle]="{'font-size': '30px'}">
          <strong>{{this.tempPracownik.stopien}} {{this.tempPracownik.tytul}} {{this.tempPracownik.imie}} {{this.tempPracownik.nazwisko}}</strong>
          <hr>
        </div>
        <ng-template #addingNewEmployee>
          <div class="col-xs-12">
            <p [ngStyle]="{'font-size': '30px'}">
              <strong>Nowy pracownik</strong>
            </p>
          </div>
        </ng-template>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <label for="nazwisko" class="col-xs-4">
                <i class="fa fa-user-circle fa-fw"></i>
                Nazwisko
              </label>
              <div class="form-group col-xs-8">
                <input type="text"
                       id="nazwisko"
                       class="form-control"
                       formControlName="nazwisko">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="imie" class="col-xs-4">
                <i class="fa fa-user-circle-o fa-fw"></i>
                Imie
              </label>
              <div class="form-group col-xs-8">
                <input type="text"
                       id="imie"
                       class="form-control"
                       formControlName="imie">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="tytul" class="col-xs-4">
                <i class="fa fa-graduation-cap fa-fw"></i>
                Tytuł
              </label>
              <div class="form-group col-xs-8">
                <select id="tytul" class="form-control" formControlName="tytul">
                  <option *ngFor="let tytul of this.pracownicyService.tytuly" [value]="tytul.skrot">
                    {{tytul.skrot}}
                  </option>
                </select>
                <!--<input type="text"-->
                       <!--id="tytul"-->
                       <!--class="form-control"-->
                       <!--formControlName="tytul">-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="stopien" class="col-xs-4">
                <i class="fa fa-star fa-fw"></i>
                Stopień Wojskowy
              </label>
              <div class="form-group col-xs-8">
                <select id="stopien" class="form-control" formControlName="stopien">
                  <option *ngFor="let stopien of this.pracownicyService.stopnieWojskowe" [value]="stopien.skrot">
                    {{stopien.nazwa}}
                  </option>
                </select>
                <!--<input type="text"-->
                <!--id="stopien"-->
                <!--class="form-control"-->
                <!--formControlName="stopien">-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="email" class="col-xs-4">
                <i class="fa fa-envelope fa-fw"></i>
                Email
              </label>
              <div class="form-group col-xs-8">
                <input type="text"
                       id="email"
                       class="form-control"
                       formControlName="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="specjalnosc" class="col-xs-4">
                <i class="fa fa-cogs fa-fw"></i>
                Specjalność</label>
              <div class="form-group col-xs-8">
                <input type="text"
                       id="specjalnosc"
                       class="form-control"
                       formControlName="specjalnosc">
              </div>
            </div>
          </div>

          <div class="inf-content panel-body" style="margin-bottom: 50px">
            <div class="row">
              <div class="col-xs-12" formArrayName="przedmioty">
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      <i class="fa fa-tasks fa-fw"></i>
                      <strong> Prowadzone przedmioty</strong></p>
                  </div>
                </div>
                <div class="row"
                     *ngFor="let przedmiotyControl of pracownikForm.get('przedmioty').controls; let i = index"
                     [formGroupName]="i"
                     style="margin-bottom: 10px">
                  <div class="col-xs-12">
                    <div class=" input-group">
                      <select class="form-control" formControlName="przedmiot" (change)="onCheckUnique()">
                        <option *ngFor="let przedmiot of przedmioty" [value]="przedmiot">
                          {{przedmiot}}
                        </option>
                      </select>
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-danger" (click)="onDeletePrzedmiot(i)">
                        <i class="fa fa-minus-circle"></i>
                      </button>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary" (click)="onAddPrzedmiot()">
                  <i class="fa fa-plus-circle"></i>
                  Nowy przedmiot
                </button>
              </div>
            </div>
          </div>

          <div class="inf-content panel-body" style="margin-bottom: 50px">
            <div class="row">
              <div class="col-xs-12" formArrayName="funkcje">
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      <i class="fa fa-tasks fa-fw"></i>
                      <strong> Funkcje</strong></p>
                  </div>
                </div>
                <div class="row"
                     *ngFor="let funkcjeControl of pracownikForm.get('funkcje').controls; let i = index"
                     [formGroupName]="i"
                     style="margin-bottom: 10px">
                  <div class="col-xs-12">
                    <div class=" input-group">
                      <input type="text" class="form-control" formControlName="funkcja">
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-danger" (click)="onDeleteFunction(i)">
                        <i class="fa fa-minus-circle"></i>
                      </button>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary" (click)="onAddFunction()">
                  <i class="fa fa-plus-circle"></i>
                  Nowa Funkcja
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
