input.ng-invalid.ng-touched {
  border: 1px solid red;
}
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.inf-content{
  border:1px solid #DDDDDD;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  /*box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);*/
}

.name {
  width: 30%;
}

.context {
  width: 70%;
}

.top-buffer {
  margin-top:10px;
}
