<script src="../../../publikacje/publikacja.model.ts"></script>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-left">
      <button class="btn btn-default" (click)="onAddNew()">
        <strong>
          <i class="fa fa-plus"></i> Nowy pracownik
        </strong>
      </button>
    </div>
    <div class="btn-group pull-right">
      <button class="btn btn-primary" (click)="onEdit()">
        <strong>
          <i class="fa fa-pencil"></i> Edytuj
        </strong>
      </button>
      <button class="btn btn-danger" (click)="onDelete()">
        <strong>
          <i class="fa fa-trash"></i> Usuń
        </strong>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div [ngStyle]="{'font-size': '30px'}">
      <strong>{{this.pracownik.stopien}} {{this.pracownik.tytul}} {{this.pracownik.imie}} {{this.pracownik.nazwisko}}</strong>
    </div>
    <table class="table table-condensed table-responsive table-user-information">
      <tbody>
      <tr>
        <td>
          <strong>
            <i class="fa fa-user-circle fa-fw"></i>
            Nazwisko
          </strong>
        </td>
        <td>
          <div class="text-primary">{{this.pracownik.nazwisko}}</div>
        </td>
      </tr>
      <tr>
        <td class="name">
          <strong>
            <i class="fa fa-user-circle-o fa-fw"></i>
            Imię
          </strong>
        </td>
        <td class="content">
          <div class="text-primary">{{this.pracownik.imie}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-graduation-cap fa-fw"></i>
            Tytuł
          </strong>
        </td>
        <td>
          <div class="text-primary">{{this.pracownik.tytul}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-star fa-fw"></i>
            Stopień Wojskowy
          </strong>
        </td>
        <td>
          <div class="text-primary" *ngIf="pracownik.stopien !== ''; else notApplicable">{{this.pracownik.stopien}}</div>
        </td>
        <ng-template #notApplicable>
          <div class="text-primary">
            <td>nd.</td>
          </div>
        </ng-template>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-envelope fa-fw"></i>
            Email
          </strong>
        </td>
        <td>
          <div class="text-primary">{{this.pracownik.email}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-cogs fa-fw"></i>
            Specjalność
          </strong>
        </td>
        <td>
          <div class="text-primary">{{this.pracownik.specjalnosc}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-tasks fa-fw"></i>
            Prowadzone przedmioty
          </strong>
        </td>
        <td>
          <div *ngIf="this.pracownik.przedmioty.length > 0; then than_component_przedmioty else else_component_przedmioty"></div>

          <ng-template #than_component_przedmioty>
            <div *ngFor="let przedmiot of this.pracownik.przedmioty; let i = index"
                 class="text-primary"> - {{przedmiot}}</div>
          </ng-template>

          <ng-template #else_component_przedmioty>
            <div class="text-primary">brak</div>
          </ng-template>

        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <i class="fa fa-tasks fa-fw"></i>
            Funkcje
          </strong>
        </td>
        <td>
          <div *ngIf="this.pracownik.funkcje.length > 0; then than_component_funkcje else else_component_funkcje"></div>

          <ng-template #than_component_funkcje>
            <div *ngFor="let funkcja of this.pracownik.funkcje; let i = index"
                 class="text-primary"> - {{funkcja}}</div>
          </ng-template>

          <ng-template #else_component_funkcje>
            <div class="text-primary">brak</div>
          </ng-template>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
 <!-- - imie-->
 <!-- - nazwisko-->
 <!-- - stopień wojskowy-->
 <!-- - tytuł-->
 <!-- - specjalność-->
 <!-- - informacja do jakich minimów kadrowych jest wykorzystywany-->
